body {
    background-color: rgb(83, 97, 77);
}

h1 {
    position: relative;
    padding-top: 0.45%;
    padding-left: 13%;

    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(212, 182, 32);
}


p {
    position: relative;

    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(212, 182, 32);
}


a:hover {
    color: rgb(161, 139, 24);
}

.body-anchor {
    color: rgb(212, 182, 32);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.main-text {
    text-align: justify;
    width: 25%;
    padding-left: 46%;
    padding-top: 20%;
}

@media only screen and (max-width: 1206px) {
    .main-text { width: 66% }
}

/* Animations */

#header-anim {
    animation-name: header-flyin;
    animation-duration: 1s;
}

@keyframes header-flyin {
    0% {
        padding-left: 20%;
        opacity: 0; 
    }
    100% {
        padding-left: default;
        opacity: 1;
    }
}

#body-anim {
    animation-name: body-flyin;
    animation-duration: 1s;
}

@keyframes body-flyin {
    0% {
        padding-left: 80%;
        opacity: 0; 
    }
    100% {
        padding-left: default;
        opacity: 1;
    }
}
